<div class="nav-inner">
  <div class="menu-header">FOTOGRAFÍA</div>
  <ul class="cd-navigation">
    <li><a class="link" href="{{ url('<front>') }}article">{{ 'Article'|t }}</a></li>
    <li><a class="link" href="{{ url('<front>') }}portfolio">{{ 'Portfolio'|t }}</a></li>
    <li><a class="link" href="{{ url('<front>') }}painting">{{ 'Paintings'|t }}</a></li>
    <li><a class="link" href="{{ url('<front>') }}album">{{ 'Album'|t }}</a></li>
    <li><a class="link" href="{{ url('<front>') }}about-us">{{ 'About Us'|t }}</a></li>
    <li class="cd-menu-separator"></li>
  </ul>
  <div class="cd-content-box">
    <h2 class="cd-menu-heading">Instagram:</h2>
    <ul class="thumb-list col-3 gutter-3">
      <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image"
             style="background-image: url(themes/custom/sachlife/assets/img/album-list/small/img-1.jpg);"></a></li>
      <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image"
             style="background-image: url(themes/custom/sachlife/assets/img/album-list/small/img-2.jpg);"></a></li>
      <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image"
             style="background-image: url(themes/custom/sachlife/assets/img/album-list/small/img-3.jpg);"></a></li>
      <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image"
             style="background-image: url(themes/custom/sachlife/assets/img/album-list/small/img-4.jpg);"></a></li>
      <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image"
             style="background-image: url(themes/custom/sachlife/assets/img/album-list/small/img-5.jpg);"></a></li>
      <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image"
             style="background-image: url(themes/custom/sachlife/assets/img/album-list/small/img-6.jpg);"></a></li>
      <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image"
             style="background-image: url(themes/custom/sachlife/assets/img/album-list/small/img-7.jpg);"></a></li>
      <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image"
             style="background-image: url(themes/custom/sachlife/assets/img/album-list/small/img-8.jpg);"></a></li>
      <li><a target="_blank" href="https://www.instagram.com" class="thumb-list-item bg-image"
             style="background-image: url(themes/custom/sachlife/assets/img/album-list/small/img-9.jpg);"></a></li>
    </ul>
  </div>
</div>