<div id="auth_box" class="login">
  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <img src="{{ file_url('public://logo3.PNG'|image_style('thumbnail')) }}" alt="{{ site_name }}" />
      </a>
    </h1>
  </div>

  <div id="middle_part">
    <h2 class="title">{{ title }}</h2>

    {{ messages }}

    {{ page.content }}
  </div>
</div>