{{ page.preloader }}
<header id="header" class="fixed-top">
  <div class="header-inner">
    {{ page.header_1 }}
    <nav class="navbar navbar-default">
      {{ page.header_2 }}
    </nav>
  </div>
</header>
<nav id="cd-lateral-nav">
  {{ page.side_bar }}
</nav>
<div id="body-content">
  <section id="page-header-secion" class="alter-heading">
    {{ page.headerImage }}
    <div class="cover page-header-cover"></div>
    <div class="container-fluid page-header-content no-padding text-center">
      <div class="row">
        <div class="col-md-12">
          <h1 class="album-title">{{ page.heading }}</h1>
        </div>
      </div>
    </div>
  </section>
  {{ page.content }}
  <footer id="footer">
    <div class="footer-inner">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            {{ page.footer1 }}
          </div>
          <div class="col-sm-6">
            {{ page.footer2 }}
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!--a href="#body" class="scrolltoztop sm-scroll"><i class="fa fa-chevron-up"></i></a-->